.add.country {
    background-color: rgb(67, 53, 194); 
    color: white; 
    padding: 10px 10px; 
    border: none; 
    border-radius: 465px; /* Add rounded corners */
    cursor: pointer; /* Show a pointer cursor on hover */
    font-size: 16px; 
    margin-right: 10px; 
  }
  
  /* Style for the "add country" button on hover */
  .add.country:hover {
    background-color: rgb(52, 214, 106)
  }